<!doctype html>
<html lang="en">
  <head>
    <title>Election Result Table Generator</title>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div class="container">
      <h1>Election Result Table Generator</h1>

      <p>Choose an election.</p>
      <ul>
        <li><a href='/lge2000'>LGE 2000</a></li>
        <li><a href='/lge2006'>LGE 2006</a></li>
        <li><a href='/lge2011'>LGE 2011</a></li>
        <li><a href='/lge2016'>LGE 2016</a></li>
        <li><a href='/lge2021'>LGE 2021</a></li>
      </ul>
    </div>
  </body>
</html>