<!doctype html>
<html lang="en">
  <head>
    <title>Koa EJS Template</title>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div class="container">
      <h1>Hello World</h1>

      <p>This is the Koa EJS Template.</p>
    </div>
  </body>
</html>