<hr />
<div class="fst-italic small">
The information presented in this site is derived from official election result data
<a href="https://results.elections.org.za/home/Downloads/ME-Results/">downloaded from the Electoral Commission</a>.
This site is provided by <a href="https://adrian.frith.dev/">Adrian Frith</a>;
it is not affiliated with the Electoral Commission.
Any copyright on the contents of this site to which Adrian Frith may be entitled is hereby released to the public domain.
</div>